apiVersion: v1
kind: Service
metadata:
  name: python-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: python-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
